<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cliente</title>
    <link rel="stylesheet">
    <link rel="stylesheet"  href="/styles/style.css">
</head>    
<!--<body>
    <aside class="sidebar">
        <ul class="menu">
            <li><a href="#"><i class="fas fa-home"></i> Inicio</a></li>
            <li><a href="/dashboard"><i class="fas fa-chart-pie"></i> Dashboard</a></li>
            <li><a href="/reglasclient"><i class="fas fa-clipboard-list"></i> Reglas</a></li>
            <li><a href="/alertas"><i class="fas fa-exclamation-triangle"></i> Alertas</a></li>
            <li><a href="/logout"><i class="fas fa-sign-out-alt"></i> Salir</a></li>
        </ul>
    </aside>
    <main class="content_main">
        <h1 class="text-center my-24 text-xl">BIENVENIDO A LA INTERFAZ CLIENTE <b>{{nombre}}</b> </h1>
    </main>
</body>-->
</html>