<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mi Página con Imagen de Fondo</title>
  <style>
    body {
      background-image: url('/assets/logo4.jpg');
      background-size: cover; /* Para cubrir toda la pantalla */
      background-position: center; /* Centra la imagen */
      background-repeat: no-repeat; /* Evita que se repita */
      margin: 0;
      padding: 0;
    }
  </style>
</head>
</html>
